/* .headerImage {
  background-image: url('./images/image-hero-desktop.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 420px;
} */

.popup-content {
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
  height: 90vh !important;
  margin: auto;
  overflow-y: scroll;
  border-radius: 20px ;
  /* padding-bottom: 40px !important;
  padding-top: 40px !important; */
}




/* .popup-content::-webkit-scrollbar {
  width: 6px;
}
 
.popup-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: rgb(185, 174, 174);
  background-color: red;
  position: relative !important;
  right: 20px !important;
}
 
.popup-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
} */


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

