input[type="radio"] {
  min-width: 25px;
  height: 25px;
}

input[type="radio"]:checked  {
  box-shadow: 0px 0px 0px 3px white inset;
}

.menu-bg{
  background: rgb(247,242,242);
  background: linear-gradient(0deg, rgba(247,242,242,0.14) 0%, rgba(14,14,14,0.9) 100%);
}

.popup-content{
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
  margin: auto;
  border-radius: 20px ;
}

@media all and (max-width: 1024px){
  .popup-content{
    width: 80% !important;
  }
}
@media all and (max-width: 640px){
  .popup-content{
    width: 90% !important;
  }
}

.popup-content  .main-modal{
  height: 90vh;
  overflow-y: scroll;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

